<div class="mainScreen">
    <nav class="blue darken-1">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">About Me</a>
      <ul id="nav-mobile" class="right">
      </ul>
    </div>
  </nav>

    <div class="about">
  <div class="service-details">
    <img src="images/thomas.jpg" alt="realm">
    <div class="service-white service-text">
      <p>Thomas McDonald<br>s2951339</p>
      <a href="mailto:thomas.mcdonald@griffithuni.edu.au">thomas.mcdonald@griffithuni.edu.au</a>
    </div>
  </div>
</div>

    

    
</div>