<div class="mainScreen">
    <nav class="blue darken-1">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Design</a>
      <ul id="nav-mobile" class="right">
      </ul>
    </div>
  </nav>
    <h3 class="design">Design Principles</h3>
    <ul>
        <li><h4>Unity</h4> Each section that contains albums/photos show unity between each album/photo, the consistency makes each section look complete.</li>
        <br>
        <li><h4>Alignment</h4> Throughout this website you may notice that all pages use the same grid style this forms  a visual connection
                        with something all the elements on the screen, The layouts are re used throughout the whole site to strengthen consistency</li>
       <br>
        <li><h4>Interactivity</h4> Every interaction the user has with the website returns an immediate response, for example; when clicking on the albums the page 
                        immediately changes to the photos screen with displayed data, clicking the like/dislike button changes the color of the button and the value of the likes. 
                        This shows the user that the site is working.</li>
        <br>
        <li><h4>Metaphors</h4> The like and dislike button directly correlate with the real world, this allows the user to quickly understand what the purpose of the button without being told.</li>
        
    </ul>

    
</div>