<div class="splashscreen">
	<div id="background-wrap">
    <div class="x1">
        <div class="cloud"></div>
    </div>

    <div class="x2">
        <div class="cloud"></div>
    </div>

    <div class="x3">
        <div class="cloud"></div>
    </div>

    <div class="x4">
        <div class="cloud"></div>
    </div>

    <div class="x5">
        <div class="cloud"></div>
    </div>
</div>
	<p class="masthead-heading">DMS Travel</p><br>
	<a class="waves-effect waves-light btn-large" ng-click="login()">Login</a>
</div>
